body {
  margin: 0;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center
}

.input-container input{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  padding: 0;
  margin: 3px;
  background-color: pink
}

.board-container{
  width: 354px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.box-container{
  height: 116px;
  width: 116px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  border: 1px solid black
}

.picker-cube{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin: 3px;
  background-color: pink;
  cursor: pointer;
}